<ion-header>
  <ion-toolbar>
    <ion-title>Enter Your 4 digit PIN</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        ID : {{modelId}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
