<ion-header>
  <ion-toolbar color="primary">
      <ion-title>User Login</ion-title>
    <ion-buttons slot="start">
        
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content center text-center forceOverscroll="false">
    <ion-card>
        <ion-card-header>
         <ion-card-title>Enter Your Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
    <ion-item>
        <ion-label position="floating" clear-input="true">Username</ion-label>
        <ion-input autocapitalize="off" autocomplete="off" autocorrect="off" clear-input="true"  required type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" clear-input="true">Password</ion-label>
          <ion-input autocapitalize="off" autocomplete="off" autocorrect="off" clear-input="true"  required type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      <ion-button  (click)="gotoSignin()" color="primary" expand="block" style="padding-top: 10px">login</ion-button>
      <ion-button (click)="gotoSignup()"  color="success" expand="block" style="padding-top: 10px">Signup</ion-button><ion-button (click)="openModal()"  color="secondary" expand="block" style="padding-top: 10px">Login with 4 digit PIN</ion-button>
      <p *ngIf="dataReturned">{{dataReturned}}</p>
      <!-- <ion-item>
          <ion-label position="fixed">Forgot Password ?</ion-label>
         
        </ion-item> -->
    </ion-card-content>
    </ion-card>
</ion-content>
