<ion-header>
      <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="logo-ionic"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="font-size: 12px">Helath Insurance Calculator</ion-title>

        <ion-buttons slot="primary">
          <ion-button (click)="gotoSignin()" color="primary" >Skip</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
  <ion-content center text-center forceOverscroll="false" >
  
    <ion-slides center text-center pager="true" style="height: 100%">
        <ion-toolbar>
            
        </ion-toolbar>
        <ion-slide  style="align-items: center">
            <ion-card>
                <img src="assets/welcome/1.jpg">
                <ion-card-content>
                  <ion-card-title>
                    Nine Inch Nails Live
                    </ion-card-title>
                  <p>
                    The most popular industrial group ever, and largely
                    responsible for bringing the music to a mass audience.
                  </p>
                </ion-card-content>
              </ion-card>
            
          </ion-slide>
          <ion-slide>
              <ion-card>
                  <img src="assets/welcome/2.jpg">
                  <ion-card-content>
                    <ion-card-title>
                      Nine Inch Nails Live
                      </ion-card-title>
                    <p>
                      The most popular industrial group ever, and largely
                      responsible for bringing the music to a mass audience.
                    </p>
                  </ion-card-content>
                </ion-card>
              
          </ion-slide>
          <ion-slide> 
              <ion-card>
                  <img src="assets/welcome/3.png">
                  <ion-card-content>
                    <ion-card-title>
                      Nine Inch Nails Live
                      </ion-card-title>
                    <p>
                      The most popular industrial group ever, and largely
                      responsible for bringing the music to a mass audience.
                    </p>
                  </ion-card-content>
                </ion-card>
            
                
          </ion-slide>
    </ion-slides>
  </ion-content>
  <!-- <ion-footer no-shadow>
      <ion-toolbar position="bottom">
          <ion-buttons end>
              
              
              
            </ion-buttons>
      </ion-toolbar>
    </ion-footer> -->